[2020-05-30 17:37] tlambert03 opened #2 "Use native numpy types for pixel data types"
from @jmuhlich
Figure out how to use numpy dtypes instead of a separate enum for pixel data types.  Preferably with numpy as an optional dependency.

[2020-05-30 17:39] tlambert03 opened #3 "Convert units to proper python objects with (e.g.) Pint"
from @jmuhlich

Integrate with a Python units package (like [Pint](https://github.com/hgrecco/pint)), so things like `physical_size_x` could become a single value with units rather than two separate fields

[2020-05-30 17:43] tlambert03 opened #4 "Improve __repr__"
- leave out properties that are set to the default
- summarize containers rather than recursively include their contents.

possible example `repr(OME)`:
[code]
e.g `Pixels`
[code]

[2020-05-30 17:44] tlambert03 opened #5 "Pluralize container attributes"
`object.image` (and similar containers) should be accessible at `object.images` ... probably as an alias, so as to remain consistent with the OME model

[2020-07-07 14:15] jmuhlich commented on #5
I could support fully renaming the containers to their plural form. Consider it part of the pythonization of the element names -- I think it's only a small step beyond converting CamelCase to snake_case.

[2020-07-14 18:28] tlambert03 opened #8 "Write metadata as well as read."
This package would be particularly useful if it could be used to write XML metadata as well as read it into python dataclasses.  Both @jmuhlich and @jacksonmaxfield have expressed an interest in for that in their applications, so just wanted to pin the topic here and connect you both.

[2020-07-16 15:53] jmuhlich opened #9 "BinData can't be instantiated"
I don't think dataclasses can usefully subclass a non-dataclass or really any non-cooperative class. For example our `BinData` ultimately subclasses `str` and I discovered there's no way to actually instantiate one due to errors from either the `str` constructor or the pydantic validator. How would the core string value actually get passed in here, anyway? The other subclasses of `ConstrainedStr`

[2020-07-16 18:45] jmuhlich commented on #9
Simply making that proposed change (moving the content to a `value` attribute) makes 14/32 of the example files at https://github.com/ome/ome-model/tree/master/specification/samples/2016-06 parse without error. I didn't inspect them all to see if the returned object looks correctly structured, but it's a good start. I'll look into how to make that change in `OVERRIDE`.

[2020-07-17 00:20] tlambert03 commented on #9
yeah I recall some of the constrained strings (with additional properties) being hard to model... but I didn't appreciate that it couldn't even be instantiated!  That'll never do! :)
how many of those files are parsing without error before that fix?  (we should update the tests here to use those)

[2020-07-17 01:50] jmuhlich commented on #9
Zero!

[2020-07-17 14:19] tlambert03 commented on #9
fwiw, I'm more than happy to use whatever "ugliness" is necessary for now to just get the output model working.  So if using the current `OVERRIDE` pattern is not working, and you want to just put a conditional somewhere in the body of the code with a "`# FIXME:`" or something like that.  That's fine with me and we can refactor later

[2020-07-21 17:40] jmuhlich commented on #5
The "xsd-fu" custom annotations in the schema provide plural forms for all elements which we should extract.

[2020-07-21 19:36] #9 closed

[2020-07-21 19:59] jmuhlich opened #13 "xmlschema fails to validate keyrefs that refer to LightSourceIDKey"
The ome schema exposes an implementation deficiency in xmlschema:

* The xpath selector for `LightSourceIDKey` is a union that explicitly enumerates all the extensions of `LightSource` (`Instrument/Laser | Instrument/Arc | ...` to paraphrase)
* The actual definition of the `Instrument` element references `LightSourceGroup` which is an abstract element serving as the SubstitutionGroup head for all

[2020-07-21 21:07] jmuhlich commented on #13
Wow, that actually worked! After building the schema object in `get_schema` I added this (needs better formatting) :
[code]
All of that spelunking in the xmlschema code actually paid off... I'll submit an issue to `xmlschema` to see what the author thinks.

I still need to figure out how to fix the codegen for `Instrument` and the light sources to accept the dict that comes out of this, but at lea

[2020-07-21 21:12] tlambert03 commented on #13
wow.  I'm very impressed!  I'm only barely following the validation failure (due to my very rudimentary understanding of xml schema in the first place).
Which test file(s) were failing due to this?  all of them?

[2020-07-21 21:34] tlambert03 opened #15 "need help with abstract groups"
Looking at one of the failing test files (`spim.xml`) I see that we're getting the error:
[code]
`spim.ome.xml` has an `<Instrument>` with a child [`<Laser>`](https://github.com/tlambert03/ome-types/blob/master/testing/data/spim.ome.xml#L7-L12) (which I gather is one of the concrete implementations of a [LightSourceGroup](https://www.openmicroscopy.org/Schemas/Documentation/Generated/OME-2016-06/o

[2020-07-21 21:34] tlambert03 commented on #15
same deal with ShapesGroups probably...

[2020-07-21 21:39] jmuhlich commented on #13
I think this makes all the test files pass xmlschema validation. Looks like the problems are all model shortcomings or XML conversion issues around the tricky inheritance-based stuff: light sources, shapes, and annotations.

[2020-07-21 21:41] jmuhlich commented on #15
Yes, as a user of an `Instrument` class I'd expect that `inst.light_source_group` or `inst.light_sources` is a list of instances of the `LightSource` subclasses. Working on that now.

[2020-07-21 21:45] jmuhlich commented on #15
One further wrinkle is xmlschema's `to_dict` is not wrapping e.g. the content under `laser`, `arc`, etc. in a list if there's only one entry, probably because it's working off the `Laser` definition in the schema and not `Instrument/LightSourceGroup` which has `maxOccurs="unbounded"`. I wonder if we can hack around this in our `schema.MyConverter` class.

[2020-07-21 21:56] tlambert03 commented on #13
great.  Sounds like you're working on it now... but here's one instantiation trick you might consider (if this is really more about pydantic validation).  dataclasses have optional [`InitVars`](https://docs.python.org/3/library/dataclasses.html#init-only-variables) that get passed to `__post_init__` that might be useful here? ... e.g.:
[code]

[2020-07-21 22:02] tlambert03 commented on #15
Since the dict is just a temporary intermediate... I think we could just as easily handle that during dataclass instantiation, see https://github.com/tlambert03/ome-types/issues/13#issuecomment-662127146 ...

[2020-07-21 22:11] jmuhlich commented on #13
Oh cool, that may help a lot.

[2020-07-21 22:14] tlambert03 commented on #13
cool.  and just to complete the example... we know what the names of those concrete members should be from the substitution groups here:
https://github.com/tlambert03/ome-types/blob/8916752394b40e625bd27c0c6a9307239f67c8a7/src/ome_autogen.py#L490-L494

[2020-07-21 22:17] jmuhlich commented on #13
However, it would be unfortunate to have all those extra kwargs in the documented user-accessible API. I think we should strive to give the dataclasses the cleanest, most ergonomic API and fix stuff like this in our adapter layer for XML decode/encode.

[2020-07-21 22:25] tlambert03 commented on #13
is it that you don't want the `laser` attribute to be available (for instance with tab autocomplete) on the instrument instance?  or is that you don't want laser to be present in the signature if `Instrument`?  I actually don't mind the latter... it seems to be how the XML is written after-all.  Is the alternative that the user always has to pre-combine all of the LightSources into a list passed t

[2020-07-21 22:41] tlambert03 commented on #13
ah ... I guess this implies that you don't image anyone will ever _be_ instantiating an instrument directly with `Instrument(id="Instrument:1", ...)` huh?  but rather that everything will be going in/out through XML?

[2020-07-21 22:44] jmuhlich commented on #13
I would love to provide a facade where directly reading and writing on the tree of metadata objects feels Pythonic and users don't need to worry about all the bookkeeping with the subtypes and cross-referencing of IDs and stuff. This means XML decode and encode will need some adaptation, but this is OK.

[2020-07-21 22:48] jmuhlich commented on #13
So the guiding philosophy would be that the schema provides very strong guidance about what the dataclass API should look like, but we reserve the right to pythonify bits for the sake of ergonomics.

[2020-07-21 22:50] tlambert03 commented on #13
Definitely agree there.   I do think pydantic helps a lot there, since people can provide dicts of simple types for the most part and it will take care of the subtyping.  But run with it for a bit and let me know what you come up with 👍

[2020-07-21 22:51] jmuhlich commented on #15
Thinking about it, this is actually something that pydantic should be able to help us out with. Looks like it can actually handle Unions to some degree, but the members of the Union all have to be sort of "disjoint" in what their validators would accept, as pydantic just tries to decode with all of the members in sequence until one validates. This would probably work for us:
https://pydantic-docs.

[2020-07-22 09:22] jmuhlich commented on #13
Fixed in #16 with some workarounds and hard-coding.

[2020-07-22 18:36] jmuhlich opened #18 "consider mapping BinData to bytes"
The `BinData` schema element is really just an XML-friendly encoding for a series of raw bytes, and the ideal Python type for that is `bytes`. If we make that change, the XML parsing process could perform the base64 decoding and any decompression, but I'm not sure what to do about the `BigEndian` flag. It would be instructive to look at BioFormats and OMERO code to see how BinData endianness is ma

[2020-07-22 19:00] tlambert03 opened #19 "schema caching needs xmlschema version"
just so I don't forget to fix it: when testing #17 locally a few tests failed that weren't testing on CI, so I updated xmlschema to check... and they _all_ failed.  I realized that it was ultimately due to the pickled schema cache being stale.  So that cache key should minimally have the xmlschema version in it, but maybe we don't cache at all.

[2020-07-22 19:17] jmuhlich commented on #19
1. We should grab the .xsd and include it with the generated python code, then just load that. That thing isn't changing so no sense in fetching it from a remote server every run. (This usually takes less than a second but it also requires a network connection)
2. The schema parse takes over 2 seconds on my machine which I agree isn't great, but the hassle of managing the cache may not be worth it

[2020-07-22 19:17] jmuhlich commented on #19
Remember there are only 2 truly hard problems in computer science: Naming things, cache invalidation, and off-by-one errors.

[2020-07-22 19:17] tlambert03 commented on #19
that's hilarious.

[2020-07-22 19:21] tlambert03 commented on #19
sounds good.  I'll add the xsd to source.  I think i'll leave the caching in there for now, but include the xmlschema version string and ome-types version in the key.  That should cover everything but development woes, and we can deal with that ourselves

[2020-07-22 20:13] jmuhlich commented on #19
Actually the schema parse only takes 1 second. I was accidentally timing it loading from the URL rather than a local file. I don't know if 1 second is even worth all the hassles of caching. (e.g. if it's a binary wheel install, that path doesn't even exist for writing a file to and you need to find somewhere else...)

[2020-07-22 20:13] #13 closed

[2020-07-23 17:57] jmuhlich commented on #5
I'm almost done with this. What do you think about adding the plurals as an alias (or making the original singulars the alias) vs. dropping the singulars entirely?

[2020-07-23 18:05] tlambert03 commented on #5
i'm ok with dropping the singulars entirely.  easy to add them back as aliases in the future if we change our minds

[2020-08-03 21:28] jmuhlich commented on #5
Implemented in #22

[2020-08-03 21:28] #5 closed

[2020-08-03 21:29] jmuhlich commented on #15
Addressed with overrides in #17 and #21.

[2020-08-03 21:29] #15 closed

[2020-08-05 22:48] jmuhlich opened #27 "References should provide direct access to the referenced object"
All of the Reference types in the schema are effectively pointers to entities defined elsewhere in the document. It would be nice if the Python API gave direct access to those referenced objects.

Currently:

[code]

Ideally:

[code]

To avoid creating any circular reference chains, the implementation should probably store weakrefs internally and provide proxy containers that perform the dereferen

[2020-08-06 13:09] #19 closed

[2020-08-06 13:24] #4 closed

[2020-08-06 16:31] jmuhlich commented on #27
Should we leave the `..._ref` fields visible and add a `@property` that provides the proxy access (read-only for now), or should the `_ref` fields be hidden?

[2020-08-06 16:34] tlambert03 commented on #27
I don't mind the `_ref` fields being there ... but if you feel strongly that they should be hidden that's fine with me.  by hidden do you just mean to make them private with an underscore, or something more complicated?  The underscore prefix might be a reasonable intermediate...

[2020-08-06 16:38] jmuhlich commented on #27
Pydantic doesn't allow fields that start with an underscore for some reason. There are some ongoing issues and PRs around this, not really sure where it stands. I'll leave them visible for now and see how it goes.

[2020-08-07 14:40] jmuhlich opened #30 "IDs should be required, with default or default_factory"
IDs are very much required, so `Optional` is not appropriate for the field types. Rather we want a `default_factory` that handles generating an ID when it's not given in the constructor.

[2020-08-07 14:45] tlambert03 commented on #30
It _is_ technically appropriate as far as a python dataclass & signature type is concerned... (since it is not required in the constructor anymore because we will autogenerate one). But if you want to say it's no longer `Optional`, that's going to conflict with python type.  That said, I don't think mypy will yell at you for omitting the `Optional` type, so if you just want to make that less obvio

[2020-08-07 15:22] jmuhlich commented on #30
I agree it should be optional in the constructor signature, but `Optional` field typing is orthogonal to whether the corresponding arg to the constructor is required. `Optional` on a field indicates that _instances_ can have that attribute set to None, which is definitely not the case for our `id` fields. We only want the constructor signature to make the `id` arg optional, which is accomplished b

[2020-08-07 15:26] tlambert03 commented on #30
good point, happy to have it changed

[2020-08-07 19:27] #30 closed

[2020-08-07 21:13] jmuhlich opened #33 "Settings subclasses incorrectly use AUTO_SEQUENCE for their id fields"
I didn't realize in #31 that `Settings` is a subclass of `Reference`. This just means `Member.is_nonref_id` needs to check the entire inheritance chain for `Reference`, not just the grandparent.

[2020-08-07 21:40] jmuhlich commented on #27
After spending some time on this it's proving harder than I thought, and there are some wrinkles. I currently have an API that works like this:
[code]
`ref` is a property function that raises an Exception if called on an instance that hasn't set its internal weakref field `ref_` by the root `OME` constructor. (Didn't want to return `None` since that's an allowable value for most references)

This

[2020-08-24 14:05] jmuhlich opened #35 "xsd:list not handled in code generation"
Elements defined as lists are skipped over during code generation. For example Experiment/Type:

[code]
The generated code ends up with `type = None` for that field, and no corresponding enum is produced.

Schemas can define `list`s containing any type, but the OME schema only has two cases: Experiment/Type and MicrobeamManipulation/Type. I think we just need a little extra logic in `Member` to bo

[2020-08-24 15:41] #27 closed

[2020-08-24 15:42] jmuhlich opened #36 "Add tests for reference collection and cross-referencing"
The new code in #34 needs tests but first we need to resolve some issues in how the test harness loads the model (see comments in that PR).

[2020-08-25 12:07] #33 closed

[2020-09-04 19:42] #3 closed

[2020-09-13 20:56] tlambert03 opened #45 "issue with Experiment and MicrobeamManipulation "type" fields"
`Experiment/Type` and `MicrobeamManipulation/Type` are not getting rendered correctly.

[code]

[2020-09-14 17:32] jmuhlich commented on #8
Closed by #44 :tada:

[2020-09-14 17:32] #8 closed

[2020-09-14 17:34] jmuhlich commented on #45
This is the same root issue as #35 right?

[2020-09-14 17:47] jmuhlich opened #47 "Add example XML that can be directly round-tripped, with corresponding test"
@tlambert03 I am considering reworking `testing/data/example.ome.xml` to use more (all?) of the schema elements and make sure all the float values etc. are round-trippable without tricks, then use that in a new test. Is that OK or do you think I should make a separate file? That file is ours, not from the ome-model test suite (it's example output from Ashlar).

[2020-09-14 18:04] tlambert03 commented on #47
Yep, sounds good. I was thinking of a similar test file that uses more of the schema.  Feel free to use that file

[2020-09-14 18:12] tlambert03 commented on #45
ah, yep. sorry, it's a duplicate.  I have a working start on i (but it breaks round tripping for the moment) ...  will submit shortly

[2020-09-14 18:12] #45 closed

[2020-09-14 18:39] jmuhlich commented on #47
Found some interesting issues around default values that we might actually want to emit to XML. The one I just hit was all the int attributes on `TiffData` that default to 0: `IFD`, `FirstC`, `FirstT`, and `FirstZ`. If you read this (imagine an OME-TIFF with two images, each with 3 channels):
[code]
Then our default-suppression would produce this output which looks a little lumpy:
[code]
Obviously

[2020-09-14 18:53] tlambert03 opened #49 "error convert `xsd:list` members back to string"
#48 fixes parsing `xsd:list` in model generation (#35), but exposed a new problem when writing XML:

[code]

I'm not certain yet whether to failure to convert these Enums back to `str` has to do with coming from a `xsd:list`?

<details>

[code]

</details>

[2020-09-14 19:23] tlambert03 commented on #35
question:  what is the syntax for an XML _attribute_ that can be a list?
the only OME example I could find was this ... but `xsd:list` suggests that`Experiment` can also have multiple `Type`s, yes?

[code]

[2020-09-14 19:27] tlambert03 commented on #35
...sorry, stumbled upon the answer myself:  space delimited... eg:

[code]

[2020-09-14 21:19] JacksonMaxfield opened #50 "Add support for already in memory XML string or etree"
Thanks @tlambert03 and @jmuhlich for the work on this library we are looking to adopt it into `aicsimageio`.

`from_xml` only accepts a `Path` or a `str` _to a path_, could it also be expanded to support accepting an already in memory XML str, [`xml etree`](https://docs.python.org/3/library/xml.etree.elementtree.html), or, [`lxml etree`](https://lxml.de/tutorial.html#the-elementtree-class).

[2020-09-14 21:24] tlambert03 commented on #50
it should also accept a raw XML string... (though I think this was recently broken?).  From the current master, I can read from the test xml files:

[code]

not working for you?

[2020-09-14 21:34] tlambert03 commented on #47
yep, I like that.  go for it.

[2020-09-14 21:39] jmuhlich commented on #50
And we should be able to accept an xml or lxml `ElementTree` with a little refactoring (the xmlschema package we use can already parse directly from an `ElementTree` in addition to a path or source-string).

[2020-09-14 21:43] jmuhlich commented on #50
@JacksonMaxfield on that note, I've been debating writing a standalone OME-TIFF read/write library that doesn't use tifffile at all and integrates well with `ome_types`. Would you guys be interested in that?

[2020-09-14 21:46] tlambert03 commented on #50
I definitely want _some_ sort of tiff read/write integration here (see #51) ... so I'm definitely interested in that.  What's your motivation for not using `tifffile` at all?

[2020-09-14 22:11] JacksonMaxfield commented on #50
Oh sorry I didn't realize that the `os.fspath` ignore `str` or bytes-like when I was digging through the code. I see on #51 that you are adding a docstring so this can be closed with that probably!

Responding to the read/write library without tifffile, right now, not too sure. For us, since we are already extracting the metadata from tifffile / aicspylibczi / w.e. reader, there isn't _too_ much v

[2020-09-14 23:08] #35 closed

[2020-09-14 23:08] #49 closed

[2020-09-15 00:37] jmuhlich commented on #50
Ah, it *would* read/write image data, just not through tifffile. Our group has been dying for TIFF library that would let us A: read individual tiles by position, B: write tile-by-tile without needing to allocate and pass the entire image array up front, C: do both of those on SubIFDs to support the new OME-TIFF pyramid spec (and of course D: provide OME metadata support). tifffile didn't have tho

[2020-09-15 00:41] JacksonMaxfield commented on #50
Ahhh I see. Yea, we have been monitoring Gohlke's work on it to add those features and in general we think we can come up with a way to wrap his API w/ our dask stuff to make writing plane-by-plane / pyramidal level-by-level possible. So a combination of stuff I think is our current solution to this problem.

[2020-09-15 03:10] jmuhlich opened #53 "Discuss deleting generic schema support code"
Should we streamline the schema loading code to explicitly load the local OME .xsd and drop all remaining pretense that we might support other schemas? I think this would make it easier to also accept `ElementTree` objects in addition to paths and strings.

[2020-09-15 20:37] tlambert03 commented on #2
@jmuhlich, curious how you think about this now...  If we don't want to depend on numpy, we can use string keys from `np.sctypeDict`... but what exactly is our goal here?  is it about our internal representation?  or the format(s) we accept?

There's a real possibility for confusion here since the OME `PixelType.FLOAT` corresponds to `np.float32`, while `np.float` corresponds to `PixelType.DOUBLE`

[2020-09-15 20:38] tlambert03 commented on #53
sure

[2020-11-17 06:03] JacksonMaxfield commented on #50
Back with an update as I am _finally_ starting this work.

Not working for me unfortunately:
[code]

I cut off the full error because it just prints out the entire XML string.

Also tried with `from_tiff` but results in the same error.

But since you have tests for `from_tiff` it makes me think this a problem with _my file_... :thinking:
My test file can be downloaded [here](https://open.quiltdata

[2020-11-17 15:59] tlambert03 commented on #50
actually, looks like this is our error... in the `ElementTree.parse()` call in `ome_types.schema.to_dict`:
https://github.com/tlambert03/ome-types/blob/a812abb731ab5100001d09db36c08d9cae9bc47c/src/ome_types/schema.py#L259-L262
whereas the function
`ElementTree.parse` requires that `xml` be a filename or file object... but the `to_dict` function also accepts a string... I can post a fix shortly

[2020-11-17 18:11] JacksonMaxfield commented on #50
Also question on how this works in general. When I use `from_xml` does it _always_ make an http request to validate the schema?

[2020-11-17 18:36] tlambert03 commented on #50
as long as the schema namespace is `"http://www.openmicroscopy.org/Schemas/OME/2016-06"` (as yours is), then it will not incur a request.  The relevant code is here:

https://github.com/tlambert03/ome-types/blob/a812abb731ab5100001d09db36c08d9cae9bc47c/src/ome_types/schema.py#L34-L40

otherwise, it will incur a request (but a lot of other stuff is expected to break at that point since we decided a

[2020-12-09 21:04] tlambert03 commented on #50
i think the original purpose of this issue was addressed.  Closing but feel free to reopen or start a new one with more

[2020-12-09 21:04] #50 closed

[2020-12-21 20:44] toloudis opened #57 "from_xml (string) raises path too long for Windows"
I'm using Python 3.7.5, ome-types 0.2.1, and on Windows, trying to pass my xml string in to from_xml:

  File "d:\src\aics\cellbrowser-tools\cellbrowser_tools\fov_processing.py", line 295, in add_segs_to_img
    self.omexml = from_xml(description)
  File "C:\Users\danielt\AppData\Local\Continuum\anaconda3\envs\cellbrowser-tools\lib\site-packages\ome_types\__init__.py", line 37, in from_xml
    d =

[2020-12-21 20:51] tlambert03 commented on #57
huh, that sounds like https://github.com/tlambert03/ome-types/issues/50#issuecomment-728707062 which I tried to fix in https://github.com/tlambert03/ome-types/pull/56 ... (and yeah, it does call os.path.exists to detect if it's a raw XML string or a file).  However, I only tested locally on mac (where it works).  will try to post a fix soon.  thanks!

[2020-12-21 22:58] toloudis commented on #57
Thanks for the quick fix here. Looking forward to the release.  I also heartily approve of the addition of other platforms to the tests in github actions.
And thanks for the work on this cool library -- as you probably know, we are going to incorporate it into an upcoming version of aicsimageio !  In the meantime I am trying to use it as an intermediate representation in some other processing I'm

[2020-12-21 23:08] #57 closed

[2020-12-21 23:16] tlambert03 commented on #57
No problem!  Thanks again for letting me know.  Looks like tests are passing now on all three platforms, with py3.7-3.9.  I just pushed v0.2.2 and it will likely post to pypi shortly.

I'm very glad to hear you're finding it useful at aics!  And using it as an intermediate representation was what got me going down this line in the first place :) so will be curious to hear how that works out for yo

[2020-12-22 03:38] JacksonMaxfield opened #60 "Remove or replace call to weakref / support serdes"
Hey @tlambert03 !

Back again, one of the checks we do on `aicsimageio` is to ensure that the `AICSImage` / the base `Reader` object can be fully serialized. This is largely useful for dask worker transfer (while it's not recommended to transfer a whole image between workers, it is in some cases useful, i.e. it is decently efficient to transfer a _not-yet-read_ image between workers for metadata p

[2020-12-22 23:50] tlambert03 commented on #60
Hey @JacksonMaxfield!  Yep, I totally agree, it should be easy to pickle or otherwise serialize these things

The weakrefs were introduced in https://github.com/tlambert03/ome-types/pull/34 as a (rather nifty) way to resolve [OME Reference types](https://www.openmicroscopy.org/Schemas/Documentation/Generated/OME-2016-06/ome_xsd.html#Reference) to the actual object that they reference.  The ultimat

[2020-12-23 00:04] tlambert03 commented on #60
actually... after looking at how [dill](https://github.com/uqfoundation/dill) serializes weakrefs, I see there's a better variant of option number 2 using `__getstate__`: we can just dereference the weakref before serializing and re-reference upon deserializing.  Just tested this out and it seems to work:

[code]

[2020-12-23 01:21] JacksonMaxfield commented on #60
Woah lots of updates and super useful info!

I totally get what the weakrefs are doing now and that is very neat.

This is great for 98% of cases its the 2% of cases like mine where we attach the `OME` object to the `Reader` object of `aicsimageio` and test if the whole reader can be serialized or not, in doing so we don't really have control over how the attached attrs serialize, hence this issue

[2020-12-23 01:31] tlambert03 commented on #60
let me know if you have a moment to try out https://github.com/tlambert03/ome-types/pull/61 on your files/models.  would be curious to see if the tests errors are real, or just an issue with the tests

[2020-12-23 01:32] tlambert03 commented on #60
(oh, and since I'm not sure it's documented anywhere, if you do check it out, make sure to run `python -m src.ome_autogen` to update the model code)

[2020-12-23 01:34] JacksonMaxfield commented on #60
It is documented! As a warning or something. Found it when I was working on the `__getstate__` stuff myself.

[2020-12-23 01:35] JacksonMaxfield commented on #60
Trying out your branch now

[2020-12-23 01:38] JacksonMaxfield commented on #60
All tests pass for our Reader with the changes in #61!

Nice work @tlambert03

[2020-12-23 01:40] tlambert03 commented on #60
Thanks for the quick test!

[2020-12-23 01:43] jmuhlich commented on #60
Jeez guys slow down so I can catch up! :)  Just reading this by email and
haven’t checked the code yet but yes, you implement setstate/getstate aka
the pickle protocol to handle this situation. I’ll take a look in a bit.

[2020-12-24 20:05] #60 closed

[2020-12-24 20:24] JacksonMaxfield commented on #60
Thanks for the fix @tlambert03!

Any chance for a patch release prior to the XMLSchema bug fix next just so that I can pin something to my deps?

[2020-12-24 21:01] tlambert03 commented on #60
sure!

[2020-12-24 21:06] tlambert03 commented on #60
all set: https://pypi.org/project/ome-types/

[2020-12-24 21:08] JacksonMaxfield commented on #60
Thank you so much!

[2020-12-30 15:58] jmuhlich opened #65 "Remove pickle protocol methods on XMLAnnotation now that xmlschema 1.4.1 is out"
xmlschema 1.4.1 includes my fix to the xml.etree module namespace manipulation that fixes Element pickling. This means we can remove our pickle protocol methods on XMLAnnotation that worked around the issue and update the minimum version on our xmlschema dependency. the `__eq__` method on XMLAnnotation will also need to be refactored since it calls `__getstate__` directly.

[2020-12-30 16:00] jmuhlich opened #66 "Re-evaluate typing hint on XMLAnnotation.value"
Now that xmlschema doesn't mess up the xml.etree namespace anymore, we might be able to actually type `XMLAnnotation.Value` as `Element` instead of `Any`.

[2021-01-07 21:55] toloudis opened #67 "Usage question: how to copy ome data or subsets of it?"
Sorry if this is the wrong venue for usage questions -- please direct me to the right place if this is not it.

My question is about copying the ome object.
In particular, I am doing some image cropping and want to bring along as much metadata as accurately as possible.
I am starting with a valid ome object, and currently making a "copy" of it by calling to_xml and then from_xml again :)
Then I am

[2021-01-07 22:52] toloudis opened #68 "namespacing of Structured Annotation data?"
I'm having a little trouble with how StructuredAnnotations are intended to be validated.
We have ome-tiffs with large Structured Annotation blocks that essentially are inlining other "arbitrary" xml as XMLAnnotations.  (In this case, Zeiss CZI metadata has been stashed in there...please do not judge just yet!)

I can call from_xml and the xml properly is converted to ome-types without error.   If

[2021-01-07 23:14] tlambert03 commented on #67
this venue is just fine!  thanks for your question:

the `OME` class (and actually all of the classes here) have a `copy` method with an optional `deep` parameter that defaults to False.  `ome.copy(deep=True)` should do what you need.  Here's a too-long example :)

<details>

[code]
</details>

(this should be better documented, sorry)

[2021-01-07 23:29] tlambert03 commented on #68
might need some input from @jmuhlich on this one.  i'm not sure but the issue might be [right here where we use the OME namespace](https://github.com/tlambert03/ome-types/blob/f23ebd1894a2b062bdc333af5f5b9d62f4ce347f/src/ome_types/schema.py#L189) when encoding `StructuredAnnotations`?

totally agree.  we probably need to provide a hook for you to provide your custom namespaces when encoding back t

[2021-01-07 23:34] toloudis commented on #67
perfect, thank you so much.

[2021-01-07 23:34] #67 closed

[2021-01-27 06:33] JacksonMaxfield opened #71 "Handle multi-Image / Scene, multi-Resolution metadata correctly"
Hey @tlambert03, got an interesting one for ya.

Even though `aicsimageio==4.0.0` isn't out yet, we have already started the planning for `4.1.0` which includes support for multi-resolution / pyramid files. We got some great test files from Seb over at Zeiss and I converted to OME-TIFF w/ `bfconvert -noflat ...`, and the resulting file can be downloaded [here](https://open.quiltdata.com/b/aics-mod

[2021-01-27 20:17] toloudis commented on #68
I guess this is related to #66 , just adding a reference here.

[2021-01-29 01:19] tlambert03 commented on #71
Hey @JacksonMaxfield
I'm curious to know more about why it "should be Pixels:4"?  I guess at the moment I'm thinking that this is either a bug in our extraction of XML from the tiff header, or it's a bug in `bfconvert`...

I broke out the xml extraction in https://github.com/tlambert03/ome-types/pull/72/files, and the XML I get (prior to putting it into `model.OME`) seems to agree with what you po

[2021-01-29 01:51] JacksonMaxfield commented on #71
Woooooooow.

Alright. Big learning day for me.

You are absolutely correct / `ome-types` is returning the correct result.

I hadn't dumped the XML to a file to view it I had only opened up the file in FIJI w/ the XML viewer opened.
![image](https://user-images.githubusercontent.com/17132317/106220915-5dfdd300-6191-11eb-928e-8c4df5b5251f.png)

I didn't know / Is it well known?? that FIJI will edit

[2021-01-29 01:51] #71 closed

[2021-01-29 01:54] tlambert03 commented on #71
wow!  big learning day for me too :joy:  I honestly don't know what's going on there but would love to learn if you find out more.

[2021-01-29 02:05] JacksonMaxfield commented on #71
Posted to the fiji GH Issues: https://github.com/fiji/fiji/issues/280

:shrug:

[2021-01-29 22:17] #65 closed

[2021-02-03 00:35] tlambert03 commented on #68
@toloudis, can you maybe extract some XML for me use to repeat this issue?

[2021-02-08 18:22] JacksonMaxfield opened #78 "Add CRON to build infra to catch dependency breakages"
`xmlschema` released a new version (1.5.0) on Friday (5 Feb 2021) that moved around some of the objects / functions in the library.

[code]

This is just to alert that any sort of build systems that install `ome-types` (and `xmlschema` as a dependency) will likely fail today :)

@tlambert03 I will make a PR to resolve this later today probably. Alright if I also in that PR include a change to the

[2021-02-08 18:57] tlambert03 commented on #78
thanks @JacksonMaxfield, yeah, it's been difficult to keep the xmlschema stuff working.  Even 1.4.2 broke some of the autogeneration stuff... and we need >= 1.4.1 for the serialization stuff.  So in master, at the moment, we're already [pinned at 1.4.1](https://github.com/tlambert03/ome-types/blob/cd15bcab83cc73c96c243943d41729a570b3b377/setup.cfg#L31).  (but that hasn't been released to pypi yet)

[2021-02-10 02:05] JacksonMaxfield commented on #78
Hmmm yea I will treat this issue primarily as just "add a CRON to check when dependencies break the install" but could we get a pypi release out to resolve CI build issues?

[2021-02-10 12:26] tlambert03 commented on #78
Will do today.  Thanks!

[2021-02-10 13:27] #78 closed

[2021-02-10 13:49] #66 closed

[2021-02-15 20:42] toloudis commented on #68
Just pinging to say I haven't forgotten and hope to revisit this week.  I will try to repro and if I can, I'll put some xml here.

[2021-03-23 18:27] jmuhlich opened #86 "Date with excess zeros fails to parse"
I encountered an OME-TIFF with an `AcquisitionDate` of `2020-09-08T17:26:16.7690000`. This triggered a parsing error in xmlschema/elementpath: `OverflowError: Invalid value 7690000 for microsecond`. bioformats handles it fine so we should check what they're doing. Round-tripping back to OME-XML with `showinf` ends up just truncating the trailing zeros, which might be a hint.

[2021-04-04 16:04] toloudis commented on #68
This repo  https://github.com/AllenCell/quilt-data-access-tutorials/tree/feature/test_validation  (specifically the branch `feature/test_validation` ) has some code in the Tutorial 3 notebook that shows a bit of trouble with Structured Annotations.  In the first test file downloaded, I get a validation error with respect to a structured annotation that has an Experiment node inside it.

[2021-04-04 16:31] tlambert03 commented on #68
Great thanks!  Will be helpful to have for testing

[2021-05-12 19:42] toloudis opened #88 "schema 2011-06 failing to parse"
The attached ome xml fails to parse in ome-types.
Here's the error I get:
[code]

[test_ome.xml.zip](https://github.com/tlambert03/ome-types/files/6468711/test_ome.xml.zip)

[2021-05-12 19:43] toloudis commented on #88
It looks like it is somehow reading the html document at http://www.openmicroscopy.org/Schemas/OME/2011-06 instead of the true xsd file?

[2021-05-12 19:54] joshmoore commented on #88
@tloudis: the xsi:schemaLocation at least matches those in https://downloads.openmicroscopy.org/images/OME-XML/2011-06/z-series.ome.xml

[2021-05-12 19:59] joshmoore commented on #88
Also looks like there are several enum issues:
 * 'Spinning Disk Confocal' not a supported value of 'class ome.xml.model.enums.AcquisitionMode'
 * 'Alternate source' not a supported value of 'class ome.xml.model.enums.IlluminationType'

If I replace those with "Other" then bfconvert will gladly create a black image from the XML.

<details><summary>output</summary>

[code]

</details>

[2021-05-12 20:09] toloudis commented on #88
Yep, I can reproduce the "real" errors using bftools xmlvalid but we need to do this through a python codepath and so need to get past that weird schema error.   If bftools xmlvalid can work , then maybe something is really wrong on the python xmlschema side.(?)
The real intent here is :
We have some old data that we want to clean up and make sure is valid.  We kind of know it's invalid and so wan

[2021-05-12 20:24] joshmoore commented on #88
I see XSLT in your future to clean it up ;) Ok. I don't have and leads on xmlschemas handling. I'll leave you in @tlambert03's capable hands and go to sleep.

[2021-05-12 20:45] tlambert03 commented on #88
thank you both for the helpful thread!  pretty busy today and tomorrow but will try to look asap.

[2021-06-03 00:03] MatteBailey opened #89 "Error when validating XML with namespace prefixes"
Hello!

I was attempting to validate the XML attached below, and got this error:
[code]

From what I can gather, `ome-types`  expects to find `Experimenter`, but is stumbling on the namespace prefix in `ome:Experimenter`. However, using namespace prefixes like this is valid XML, and I have validated this file against the OME schema using several other methods (`xmlschema`, `lxml`, and [`xmlvalid`]

[2021-06-04 01:02] tlambert03 commented on #89
thanks @MatteBailey and thank you for the example.
that's a bug...

you're correct, it's getting validated and parsed correctly by xmlschema, but we need to strip the global namespace in this case before passing that parsed dict to `OME()` ... will patch soon.

[2021-06-08 22:15] tlambert03 commented on #89
@MatteBailey, one more question regarding that specific XML example...
The `ome:AcquisitionDate` is `2019-06-27T18:39:25.8078869Z` (7 digits of subseconds)... which `xmlschema` has an issue with:
[code]

and from a little googling, I can't see many examples of the ISO 8601 standard showing more than 6 digits.

I can fix the namespace issue pretty easily... my preference would be to not special-cas

[2021-06-10 23:52] MatteBailey commented on #89
@tlambert03 Interestingly, I can't reproduce the error you're seeing with `xmlschema`. Below is what I'm running with `xmlschema` 1.4.1, let me know if there's something different I should try.
[code]

Regardless, I don't think we necessarily need support for seven digits of subseconds, I believe it's just what was included in the file from the microscope.

[2021-06-14 18:17] tlambert03 commented on #89
yeah, strange:  here's my full output if you're curious (I know it's peripheral to the main point here... sorry for the delay in the fix,  busy week)

<details>

[code]

</details>

[2021-06-14 18:52] #89 closed

[2021-06-14 19:02] tlambert03 commented on #89
should be fixed in 0.2.5, which is now released.  I added this xml to the tests as well (with a modified acquisition date, which we can tackle later if you want).  thanks for reporting!

[2021-06-14 19:28] tlambert03 commented on #88
Hi @toloudis, sorry for the delay here.

I don't have a lot of bandwidth to extend support to older schema (we made a decision a little while ago to focus on 2016 for now), but at first glance it looks like we'd need to solve two problems here:

1. first, as commented by @joshmoore in https://github.com/tlambert03/ome-types/issues/88#issuecomment-840058515, the xml file doesn't seem to be fully va

[2021-06-14 19:38] toloudis commented on #88
Thanks.  Number 2 is the only thing I am worried about and is the real issue I am reporting here.

[2021-06-14 20:04] tlambert03 commented on #88
Thanks, number 2 is an easy fix...  I'm more worried about how a valid  2011 schema will be handled here.  But if ome provides a converter, we could run that on it first.

For a while, I was making this in a schema agnostic way, but there were far too many special case things to handle so we just decided to focus on 2016.  Once you have a valid 2011 file, feel free to link it here, would be curiou

[2021-06-14 20:09] toloudis commented on #88
What I did instead was do a bunch of string and element manipulations to make it validate against 2016 :)
If we come up with some 2011 data that is valid, I'll give it a try and report here.

[2021-06-14 20:10] tlambert03 commented on #88
Awesome.  Thanks!

[2021-06-15 16:34] tlambert03 commented on #88
part 2 solved in #92...  do you want to keep this open until we figure out the 2011 support?  or treat that seperately

[2021-06-17 22:48] toloudis commented on #88
I think it's fine if it loads the schema that the xml says to load, and validates against that.  If I get ordinary validation errors then I'm in good shape.

I totally accept that the actual object model is intended to be the most current schema.

[2021-06-17 22:50] tlambert03 commented on #88
ok.  merged it!  let me know if/when you run into the next hurdle :)

[2021-06-17 22:50] #88 closed

[2021-06-26 01:31] #53 closed

[2021-07-15 07:31] VolkerH opened #98 "Issues with tiff-files exported from NIS elements using Export ND to Tiff"
Below is a link to a sample file exported from NIS elements using the following dialog

![image](https://user-images.githubusercontent.com/2210044/125746703-a5178490-efd5-4877-8328-c7fca0c61652.png)

https://www.dropbox.com/s/qiikd154xy4d9xx/seq0000xy01c1.tif?dl=0

I have been extracting metadata from this file using code in the following (messy) notebook (under the last heading):
https://github.c

[2021-07-27 18:06] jmuhlich commented on #98
Your sample file uses the older 2015-01 OME-XML schema but ome-types only handles the latest 2016-06 schema. BioFormats provides a mechanism to convert older to newer but we didn't incorporate it into ome-types yet. A quick fix is to use `bfconvert` from BioFormats to convert to `.ome.tif` as that will perform the schema upgrade automatically:

[code]

[2021-08-15 15:04] tlambert03 opened #101 "Bug: provide more explicit error with unsupported schema"
We only support the 2016 schema, but don't loudly explain why various ome files on other schema fail to validate.  We should check that in the XML and make it clearer

[2021-08-24 22:00] MatteBailey opened #104 "`to_xml()` produces invalid datetimes."
We recently discovered that the `to_xml()` function provided by `ome-types` produces datetimes that look like `2016-03-11T10:23:44.925154UTC`, which violate the [XSD dateTime format](http://books.xmlschemata.org/relaxng/ch19-77049.html). Instead, the datetime in this case should be `2016-03-11T10:23:44.9251548Z`, which is what is in the source XML.

Steps to reproduce:
1. Extract `OverViewScan.ome

[2021-08-24 22:21] tlambert03 commented on #104
Thanks @MatteBailey.
can you tell me what version of `elementpath` and `xmlschema` you have installed?

[2021-08-24 22:55] MatteBailey commented on #104
From running `pip list`, I get `elementpath 2.2.3` and `xmlschema 1.4.1`.

[2021-08-25 11:35] #104 closed

[2021-09-07 20:59] jmuhlich opened #108 "More forgiving parser"
Multiple times I've gotten schema validation errors from ome_types on XML that BioFormats has no trouble with. These files always turn out to be third-party-generated, of course. I suspect people aren't running the schema validation, just testing that their generated files don't blatantly error out in `showinf` or ImageJ and that those tools show the correct metadata -- I know I've done just that

[2021-09-07 21:14] tlambert03 commented on #108
yeah, totally agree.  I think we _should_ probably make pre-validation of the XML optional (I have a local branch where I'm playing with using lxml for converting XML to a dict, which is much faster than our current `to_dict` implementation ... and just omits the validation at that step).

As for the pydantic model itself... that part is a little less clear to me, but I can imagine a number of pos

[2021-09-07 21:16] tlambert03 commented on #108
side note: one thing I'm trying to do (like in #103) is to move validation and cleaning logic off of `element_decode`, so that the pydantic model itself is smart enough to take a more generic XML->dict conversion.

[2021-11-10 02:58] joaomamede commented on #98
bfconvert can also convert from the .nd2 you might save some time if you do so.

[2021-12-16 09:00] bpavie opened #114 "Cannot set the Intrumentref"
I am trying to set an instrument ref but I get an error when setting it.
Here is a demo to test:

[code]

When I run it, I get the following error:
[code]

[2021-12-16 15:27] SilverViking commented on #114
I suspect (but am not 100% sure) that the instrument id in `InstrumentRef()` needs to be specified as a keyword argument instead of a positional argument, so:

```instrument_ref = InstrumentRef(id=instrument.id)```

instead of:

```instrument_ref = InstrumentRef(instrument.id)```.

This is in line with https://ome-types.readthedocs.io/en/latest/_autosummary/ome_types.model.InstrumentRef.html#ome_t

[2021-12-16 15:49] tlambert03 commented on #114
yep, thanks @SilverViking!  the readme had an error.  You need to use the kwarg `id=`.  I've updated the readme.  thanks both!

[2021-12-16 15:49] #114 closed

[2021-12-28 17:45] erickmartins opened #116 "`Ellipse`s being converted into `Point`s?"
First of all, I love `ome-types`! I'm trying to generate an XML from an OMERO Project, and everything has been going well so far except for any `Ellipse` ROIs. Here's a code snippet:

[code]

And what that prints:
[code]

It seems that `ROI()` is internally converting the ellipse into a single point, and I have no idea why! Am I missing something obvious? Everything else seems to work as intended,

[2021-12-29 16:25] erickmartins commented on #116
OK, when doing the opposite workflow (XML to objects) I have found an extra ROI type weirdness case. Here's a snippet of my XML file:

[code]

Then, I ran
[code]
Resulting in
[code]

As you can see, everything looks right, _except_ for the type - it's giving me a `Polyline` instead of a `Polygon`!

[2021-12-29 16:44] tlambert03 commented on #116
thanks @erickmartins!  could you perhaps share the xml file?  It does look an error, but it would be much easier to fix if I could reproduce it locally with `from_xml`

[2021-12-29 16:51] erickmartins commented on #116
Sure thing! Adding it as a txt since github doesn't like XML files.

(as a sidenote, a few of the `Point`s in this xml were originally `Ellipse`s that got mysteriously converted when generating an `ROI` object.)

Thanks for looking into it!

[test.xml.txt](https://github.com/tlambert03/ome-types/files/7789841/test.xml.txt)

[2021-12-29 16:55] tlambert03 commented on #116
the issue is ultimately about how pydantic (the library underlying the model) [deals with Unions](https://pydantic-docs.helpmanual.io/usage/types/#discriminated-unions-aka-tagged-unions)

`ROI.union` is defined as `Union[Rectangle, Mask, Point, Ellipse, Line, Polyline, Polygon, Label]` ... so when constructing an ROI, pydantic looks at each dict and decides what type of shape matches it the best.

[2021-12-29 16:57] erickmartins commented on #116
Sure, no problem. Thanks a bunch!

[2021-12-29 17:18] tlambert03 commented on #116
Fixed in #117 .  will push a new release soon.  thanks for reporting!

[2021-12-29 17:20] #116 closed

[2022-02-15 20:48] Nicholas-Schaub commented on #108
Trying to revive this a bit.

We are in the process of implementing `ome_types` into [bfio](https://github.com/polusai/bfio), and are running into issues for some types of images (such as pyramids). It would be nice to maybe make some types of OME model elements required, and everything else optional when `not strict`, and throw a warning message. Right now this is a barrier for us adopting it int

[2022-02-15 20:49] Nicholas-Schaub opened #125 "NotImplementedError: OMEPyramidStore"
While reading xml from a czi file, we received this message:

[code]

We are in the process of replacing the `OmeXml.py` model with `ome_types`, and this error is a blocker for us adopting `ome_types` into our Bioformats utility.

[2022-02-15 20:50] tlambert03 commented on #108
hey @Nicholas-Schaub. thanks for chiming in.  agreed, this definitely hampers partial adoption for many very reasonable use cases.  I wonder if you could share an XML or python dict or something that you're trying to load, so I could play with it locally?  (I can certainly make up something that has extra fields, etc, but might be nice to have a known use case to work with)

[2022-02-15 20:51] tlambert03 commented on #125
thanks!  any chance you could post the XML here?

[2022-02-15 20:51] Nicholas-Schaub commented on #108
I'll add it to the separate issue I opened (#125)

[2022-02-15 21:00] Nicholas-Schaub commented on #125
Actually, I overlooked a part of the error message. I think this is a false flag. I'll do some investigating, and I'll close if this isn't an issue. Thanks for the quick responses.

[2022-02-15 21:05] Nicholas-Schaub commented on #125
It was indeed a false flag. Things are fixed.

I don't know if you remember, but we had a meeting with the AICSImageIO people are we were going to implement bindings for our library in AICSImageIO. This is the first step to that, so hopefully we should have something by the end of the week.

[2022-02-15 21:05] #125 closed

[2022-02-15 21:08] tlambert03 commented on #125
I do remember!  good to see you here.  Does this also mean you're temporarily unblocked with regards to #108 as well?  or was that kind of a different issue with third-party schema stuff in your XML?

[2022-02-16 01:21] Nicholas-Schaub commented on #125
Yes, I'm unblocked for now. I just saw the `NotImplementedError` and thought a class didn't get generated. Turns out I just needed to convert types. Now that I know, it should be smooth sailing from here.

[2022-03-04 18:46] Nicholas-Schaub opened #126 "Improve Performance"
We recently switch our `bfio` utility from `OmeXml.py` to `ome-types`. We spent a significant amount of time optimizing our OME Tiff reader/writer and OME Zarr reader/writers. However, one thing we have noticed is that our readers have slowed down by more than an order of magnitude after switching to `ome-types`.

I did some profiling, and for a 2048x2048 16-bit image, our read time from initial l

[2022-03-04 18:51] tlambert03 commented on #126
I suspect that this is mostly due to 1) validation (in addition to parsing) and performance of xmlschema itself.

1) for validation, see #108, where I think everyone agrees it would be nice to have a parser that pretty much doesn't validate at all... and just lets ignores stuff or lets errors happen elsewhere
2) for parsing... `xmlschema` isn't super tightly integrated... and I'd love to move to l

[2022-03-04 18:52] Nicholas-Schaub commented on #126
Here is the profile I got from `to_dict`. I used an OME Tiff file that was converted from a czi file, and Zeiss likes to go crazy with the metadata.

Things to note:
1. Total script execution time was 25.2s
2. Units under `Time` are in microseconds
3. In the script, I load the same image twice. This means that the second call to `get_schema` should be cached since it's using `lru_cache`.

[code]

[2022-03-04 18:55] Nicholas-Schaub commented on #126
I did do even more digging than this, including doing some initial parsing using `lxml`, but even `xmlschema.to_dict` took up a considerable amount of the time.

Once you use `to_dict`, isn't it a dictionary? And do other parts of the code use `xmlschema` or is it only used in `schema.py`?

[2022-03-04 19:07] Nicholas-Schaub commented on #126
Your point about Pydantic makes sense. I think I read that you're generating the pydantic classes based off the xml schema. So most validation checks are effectively carried out a second time by Pydantic, even if things like element ordering are not validated by Pydantic.

If you're open to this I think I'm going to work on this a bit. It seems like the key thing to make this work with the rest of

[2022-03-04 19:15] tlambert03 commented on #126
correct, `xmlschema` is mostly used as a buildtime dependency to autogenerate the python code from the OME XML schema. at runtime, however, it is only used in `schema.py` and then only in (as mentioned above) a real **excess** of caution to first validate that the user's XML string conforms to the OME XML schema before converting it to a dict.  But then note that after that occurs, the python mode

[2022-03-04 19:31] Nicholas-Schaub commented on #126
This is how I get involved in too many things haha. I'll use that branch as a starting point. I'll also try to create a unit test to test...something. Either make sure the dictionaries we get from each method are equivalent or maybe just comparing `OME.to_json` or `OME.to_dict`, which should be a little more consistently structured.

[2022-03-04 19:33] tlambert03 commented on #126
you and me both :joy:

Sounds like a great place to start.  Don't drive yourself nuts though.  If it's enjoyable and you keep feeling like you see the path forward, it would be great.  But if you start getting annoyed, lemme know.  I also do want this to work so could pick it up from there

[2022-03-04 19:46] Nicholas-Schaub commented on #126
Too late. I'm already going nuts. I'll figure it out.

[2022-03-05 15:34] Nicholas-Schaub commented on #126
I have it working on 50% of the test files, so still a few things to work out. However, now that I've dug around the code a bit, I think discussing what a final solution might look like is appropriate.

First, I noticed that there was a difference between the lxml result and the xmlschema result. It looks like there are additional flavor attributes that are added to the dictionary for the xmlschem

[2022-03-05 17:03] tlambert03 commented on #126
Sounds great!  i wonder if rather than having on validation param with `strict/light/off`, we might have two params: `converter` - a function that converts xml to dict (could be either xmlschema or lxml, or anything in the future) and `validate`, a boolean that determines whether the xml should be validated or not (still up to the converter to perform though).  Might be a bit more future proof if

[2022-03-05 18:05] Nicholas-Schaub commented on #126
I guess thats true. Even with xmlschema, I don't think it's necessary to validate.

I think this is a good solution. Once I finish fixing some of these trailing issues I'll work on implementing these options. Right now I'm getting roughly a 6x performance boost using lxml versus xmlschema. That seems a bit slow to me, but I'm not going to optimize just yet. I think I see a number of areas that cou

[2022-03-05 20:37] Nicholas-Schaub commented on #126
I have a "rough draft" of it ready.

It currently passes all unit tests for parsing the xml to a dictionary then passing to Pydantic. I added a new parameter to `test_from_xml` to test parsing with and without validation.

It currently defaults to `validate=True`. When I default to `validate=False`, it doesn't pass the roundtrip tests (yet).

I need to add in the lxml schema validation and the `co

[2022-03-07 13:07] Nicholas-Schaub commented on #126
I've been able to parameterize all of the tests that use `from_xml` to use validation. There are now 240 tests, and all but 5 pass. I suspect the last 5 to fix might have to do with some of the exceptions you catch when encoding.

I couldn't help myself but do a little optimization. As I suspected, the biggest drain was regular expressions. I was able to compile and rewrite them a bit, and now we

[2022-03-07 13:08] Nicholas-Schaub commented on #126
Also, the nice thing about aliasing is that you don't need to custom code the names. You can just create a generator.

https://pydantic-docs.helpmanual.io/usage/model_config/#alias-generator

[2022-03-07 13:10] tlambert03 commented on #126
my hero 🤩

That sounds like a great idea!

[2022-03-07 15:15] Nicholas-Schaub commented on #126
We handle such a large number of files from such a diversity of sources I just assume that if it fails your tests, then we are going to have a problem. I'm assuming that we might still have issues even with all your extensive testing. I know we have run into quite a few special cases in the past, but I really like how extensive your tests are.

I am resolving the final two and then I'll open a PR.

[2022-03-07 20:40] Nicholas-Schaub commented on #126
I did some digging on those last two errors and I'm throwing in the towel because I don't think they are significant. Basically, when you parse data using schema validation it adds in default values for units, and possibly some additional xml flavoring that I don't believe contribute to any meaningful differences. What I did for now is create a special test exception case.

I also ran benchmarks u

[2022-03-08 02:27] Nicholas-Schaub opened #128 "Performance: Use Pydantic aliasing to handle snake and camel case"
A significant amount of time is spent during parsing converting from camel case to snake case using regular expressions. An alternative to this is to use Pydantics aliasing feature, which allows mapping of multiple names to one attribute. Using aliasing, all camel case element names could be mapped to their snake case counterparts in Pydantic classes. This would lead to a performance hit when load

[2022-03-08 02:28] Nicholas-Schaub commented on #128
https://pydantic-docs.helpmanual.io/usage/model_config/#alias-generator

[2022-03-08 02:40] Nicholas-Schaub commented on #108
Possibly resolved by #127

[2022-03-08 15:25] Nicholas-Schaub opened #129 "Feature: Fix common errors from OmeXml.py"
Prior to `ome-types`, a common way to parse out OME metadata was from `OmeXml.py`. However, the data dumped from that library generally did not conform to the OME schema. Libraries such as `AICSImageIO` generally create catches to fix some of the common errors, and it might be ideal to implement something similar in `ome-types`. This could be an option in `from_xml`.

For reference:
https://github

[2022-03-10 14:39] tlambert03 commented on #129
a [Flag enum](https://docs.python.org/3/library/enum.html#flag) of known errors could be a good api, allowing people to contribute fixes in a selectable way:

[code]

[2022-03-10 14:40] Nicholas-Schaub commented on #129
I actually suggested this because I ran into the exact same problems they did when switching from `OmeXml.py` to `ome-types`. I think Zeiss's platform was using the same `OmeXml.py` file, and I believe that `tifffile` used it as well. I suspect that in the near term there will be quite a few complaints when trying to access older data using `OmeTiffReader`.

I do like the idea of a `Flag` to fix t

[2022-03-10 15:42] JacksonMaxfield commented on #129
I don't _think_ there is anything needed to further generalize the function. It's already pretty general because we knew there would be a bunch of people raising issues if it _wasn't_ general :joy:

Your list of flags is correct to what all the function does that can be generalized outside of our specific AICS failures.

All in all, feel free to copy it over and remove the last ~15 lines or so bec

[2022-03-10 15:45] tlambert03 commented on #129
Thanks!  One more question, without looking deeply at your function, do you have a sense for how important the order of operations is?  That is, could it be broken up into `cleaner(xml) -> xml` functions that could be run in any order?  I assume not, but it would make it easier to generalize the addition of fixes if that were possible

[2022-03-10 15:50] JacksonMaxfield commented on #129
Great question! I personally probably wouldn't split up this section onward (which if i am assuming correctly you already somewhat planned with `ChannelPlaneOrdering`) https://github.com/AllenCellModeling/aicsimageio/blob/c49a613dc54381d11237240ba36f0ef54603a7d6/aicsimageio/metadata/utils.py#L313

But everthing else _should_ be possible to apply one at a time.

You may want to include a flag for "

[2022-03-10 21:06] Nicholas-Schaub commented on #129
@JacksonMaxfield I forgot, that's where I originally scraped `OmeXml.py` from...`python-bioformats` (from Broad and CellProfiler). I eventually migrated away from that because I ended up having to customize it so much...and bfio was born. I think everyone copied that.

[2022-03-11 13:57] #126 closed

[2022-03-22 17:32] Nicholas-Schaub opened #134 "Performance: Allow to_xml to use lxml"
#127 implemented `lxml` parsing, which significantly increased parsing and validation times. However, `xmlschema` is the only option for converting `OME` to an xml string with the `to_xml` function. In testing, I have found that `to_xml` takes ~5x longer than both compressing and writing a multi-dimensional tiff image. Adding `lxml` as an xml string converter should significantly improve performan

[2022-03-23 03:30] schienstockd opened #135 "Unexpected child with tag 'OME:Plane'"
Hello,

I created an OME-ZARR from a CZI file with bioformats2raw with 2 pyramid scales.
Then, I am trying to read the METADATA.ome.xml with `from_xml` and I get the following error:

[code]

Here the whole XML:
[METADATA.ome.xml.txt](https://github.com/tlambert03/ome-types/files/8329418/METADATA.ome.xml.txt)

Can I skip the validation somehow? I have version `0.2.10`.

[2022-03-26 13:45] tlambert03 commented on #135
Hi @schienstockd,

The option to skip validation was recently added in #127, so the current main branch actually _does_ work with this file:

[code]

It only works for the new lxml parser (which is now the default parser).  Note also, writing the resulting OME object out to xml  with `to_xml` is still failing.

Not sure how soon we'll release the new version with the changes in the main branch, si

[2022-04-06 22:23] rjesud opened #137 "Whole Slide OMETIFF pyramid levels"
Hi, Thanks for creating such a useful tool!

I cannot seem to find metadata corresponding to the number of subresolution pyramid levels for whole slide OMETIFFs. Does the ometypes API support this query?

r

[2022-04-06 23:17] tlambert03 commented on #137
I admit ignorance!
@joshmoore, where would that data live?  Is that something reflected in the OME data model?  or something that requires a schema on top of the core model?

[2022-04-07 05:40] joshmoore commented on #137
Hi @rjesud. The subresolutions levels are a feature of the underlying TIFF storage (and of the Zarr storage in [NGFF](https://ngff.openmicroscopy.org/)). https://github.com/cgohlke/tifffile will let you choose between the levels:

[code]

`len(series[X].levels)` will give you the total number.

If you think there's a use case for having the resolution metadata in the model itself, do let us know.

[2022-04-08 21:27] rjesud commented on #137
@joshmoore Thanks for this solution! Conincidently, I am using tiffile for this particular workflow. I am actually using the zarr api to access specific channels and pyramid levels of a multi-channel IF OMETIFF WSI.

[code]

I have a routine where I want to need the WSI pixel data as a downsampled array (very specific factor). So, I figured I would just load a pyramid level rather than loading a h

[2022-04-13 08:44] joshmoore commented on #137
Hi @rjesud. It definitely need not be the case that all levels are a factor of 2 downscaled.

[2022-04-18 23:01] tlambert03 commented on #134
hey @Nicholas-Schaub, sorry for the delay.  Busy month.

I think?  unless you'd like to make an argument otherwise :)  Maybe I'm not following though.  Once it's in the model (i.e. passed the pydantic validation), when might we see issues in writing back out? structured annotations?

sounds reasonable to me

this part I'm not entirely sure about.  naively, I'm imagining (hoping) that all `to_xml`

[2022-04-19 00:26] Nicholas-Schaub commented on #134
Well, one thing that I have found to be problematic is that is the ordering and limitations of fields. For example, there are some instances when loading data saved by `OmeXml.py` that the XML fields are in an order that violates the schema. Likewise, there are cases where there are multiple elements when only one should be present. Pydantic does not seem to pick up on these edge cases when valida

[2022-04-19 00:26] Nicholas-Schaub commented on #134
Also...I hear you about a busy month. It's been rough.

[2022-04-19 00:29] Nicholas-Schaub commented on #134
Maybe the first step is to create unit tests to demonstrate some of these things and then create the PRs to fix them. Or not fix them and just say that things are close enough to be equivalent.

[2022-05-25 13:13] tlambert03 commented on #137
since I don't think there's any action items here for `ome-types`, I'm going to close this.  If I'm mistaken, please let me know and we can reopen!

[2022-05-25 13:13] #137 closed

[2022-05-25 13:16] tlambert03 commented on #135
I'm going to close this, since it has a solution already merged, and the writing can be discussed in #129.
@schienstockd, note that after #138 merges (before the upcoming release), you'll need to explicitly opt in to the new parser with  `o = from_xml('METADATA.ome.xml', parser='lxml')`.

Feel free to comment/reopen if I've missed something that we still need to fix for your case!

[2022-05-25 13:16] #135 closed

[2022-05-25 13:19] tlambert03 commented on #108
yeah, I'm going to close this as fixed by #127.  By using `from_xml(..., parser='lxml')`, you can now "bypass" validation of the provided xml, deferring all validation to pydantic.

discussed offline with @jmuhlich: we should eventually completely separate the concept of `validate` and `parse`.  Currently `lxml` doesn't validate and `xmlschema` does validate:
[code]

but this should probably just

[2022-05-25 13:19] #108 closed

[2022-07-07 15:35] keller-mark opened #144 "Removal of Pixels.PhysicalSizeXUnit and .PhysicalSizeYUnit"
Hi,
I have generated an OME-TIFF using the following command:

[code]

The output of
[code]
is [tiffcomment_out.ome.txt](https://github.com/tlambert03/ome-types/files/9065307/tiffcomment_out.ome.txt)

However, the output of

[code]
is [ome_types_out.ome.txt](https://github.com/tlambert03/ome-types/files/9065318/ome_types_out.ome.txt)

The `ome_types` output erases the properties Pixels.PhysicalSiz

[2022-07-07 15:46] tlambert03 commented on #144
It's expected in a sense, since the values in your data are just the default values for `Pixels. PhysicalSizeYUnit ` in the [OME model](https://www.openmicroscopy.org/Schemas/Documentation/Generated/OME-2016-06/ome.html), and when serialize OME objects we exclude default values.  Given the huge size of the model, `bfconvert` is _also_ clearly excluding a lot of the default values, but i'm, not sur

[2022-09-19 11:13] S73ph4n opened #147 "Can't read XMLAnnotations with lxml"
Hi,
Using tifffile and ome-type, I construct a OME-TIFF containing, among other things, an XMLAnnotation.
The part of my code where I make the annotation looks like this :

[code]

Then, when I open that file with ome-types, using xmlschema as a parser :
`metadata = ome_types.from_tiff(path_out, parser='xmlschema')`
I get this, which is the expected behaviour :
![image](https://user-images.githubu

[2022-10-31 19:22] tlambert03 commented on #147
@Nicholas-Schaub  and @jmuhlich

would either of you be able to take a look at this, you each wrote the corresponding parsers and know about them more than I do.  Here's what I've determined so far.

First, a failing test (and whether the test itself is asserting the proper behavior is up for discussion...)  it's just asserting the current xmlschema behavior which is what @S73ph4n  was expecting.